.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo h1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    transition: all 0.3s ease;
    border-radius: 10px;
    background-color: grey;
}

.logo h1:hover {
    background-color: #555;
    cursor: pointer;
}