.NavBar {
    position: absolute;
    top: 20px;
    left: 160px; /* Juste après le logo */
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    color: #333;
    font-weight: bold;
    width: calc(100% - 200px); /* Largeur totale moins espace pour logo */
    text-align: left;
    height: 24px;
    line-height: 24px;
}

.NavBar:hover {
    background-color: #444;
    transition: background-color 0.3s ease;
}


