.SideBar {
    position: fixed;
    top: 180px;
    right: 20px;
    width: 250px;
    height: calc(100vh - 200px);
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

